![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [83]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

In [84]:
#Access the data From the deferent files
price_df = pd.read_csv("data/airbnb_price.csv")
print("------------------------\n",price_df.head())

room_type_df = pd.read_excel("data/airbnb_room_type.xlsx")
print("------------------------\n",room_type_df.head())

review_df = pd.read_csv("data/airbnb_last_review.tsv", sep="\t")
print(review_df.head())

------------------------
    listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
------------------------
    listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [85]:
#Merge the DataFrames
data = price_df.merge(room_type_df, on = "listing_id", how = "outer").merge(review_df, on = "listing_id", how = "outer")
data.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [86]:
data["last_review"].info()

data["last_review"] = pd.to_datetime(data["last_review"], format = "%B %d %Y")

data["last_review"].info()

<class 'pandas.core.series.Series'>
Int64Index: 25209 entries, 0 to 25208
Series name: last_review
Non-Null Count  Dtype
--------------  -----
25209 non-null  object
dtypes: object(1)
memory usage: 393.9+ KB
<class 'pandas.core.series.Series'>
Int64Index: 25209 entries, 0 to 25208
Series name: last_review
Non-Null Count  Dtype
--------------  -----
25209 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 393.9 KB

In [87]:
#The dates of the earliest reviews
earliest_review_date = data["last_review"].min()
earliest_review_date

Timestamp('2019-01-01 00:00:00')

In [88]:
#The dates of the most recent reviews
most_recent_review_date = data["last_review"].max()
most_recent_review_date

Timestamp('2019-07-09 00:00:00')

In [89]:
#How many of the listings are private rooms? Save this into any variable.
data["room_type"] = data["room_type"].str.lower()
private_rooms_count = data[data["room_type"] == "private room"].shape[0]

private_rooms_count

11356

In [90]:
#What is the average listing price? Round to the nearest two decimal places and save into a variable.
#data["price"].unique()

data["price"].replace(r"dollars", "", regex=True, inplace=True)

data["price"] = data["price"].str.strip()

data["price"] = data["price"].astype(int)

average_listing_price = data["price"].mean()

average_listing_price_rounded = round(average_listing_price, 2)

average_listing_price_rounded
#data["price"].unique()

141.78

In [91]:
#Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

review_dates = pd.DataFrame({
    "first_reviewed": [earliest_review_date],
    "last_reviewed": [most_recent_review_date],
    "nb_private_rooms": [private_rooms_count],
    "avg_price": [average_listing_price_rounded]
})

review_dates.head()

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78